---
layout: default
title: Home
---
<div class="well">
        <p>Welcome to the home of DataBytes, a podcast about statistics and data science. </p>
        <p>
        <a href="https://itunes.apple.com/us/podcast/databytes/id1445241846?mt=2&ls=1"><img src="/static/img/apple-podcasts-badge.png" alt="Apple Podcasts" style="height:50px;"></a>
        <a href="https://playmusic.app.goo.gl/?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&apn=com.google.android.music&link=https://play.google.com/music/m/Ixr33egunzkhqi6i7zaitcbvfqm?t%3DDataBytes%26pcampaignid%3DMKT-na-all-co-pr-mu-pod-16"><img src="/static/img/en_badge_web_music.png" alt = "Google Play" style="height:50px;"></a>
        </p>
</div>
<div class="well">
    <div class="list-group">
    {% assign curDate = site.time | date: '%s' %}

      {% for post in paginator.posts %}
      {% assign postStartDate = post.date | date: '%s' %}
      {% if postStartDate <= curDate %}
      <div class="list-group-item">
        <div class="row-action-primary">
          <i class="fas fa-podcast"></i>
        </div>

        <div class="row-content">

          <div class="least-content">{{ post.date | date_to_string }}</div>
          <h4 class="list-group-item-heading"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>

          <p class="list-group-item-text">{{ post.content | strip_html | truncatewords: 20 }}</p>
        </div>
      </div>
      <div class="list-group-separator"></div>
       {% endif %}
      {% endfor %}
    </div>
   

    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <ul class="pager">
      {% if paginator.previous_page %}
        <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
        </li>
      {% else %}
        <li class="previous disabled"><span aria-hidden="true">&laquo;</span></li>
      {% endif %}

      <li><a href="/">First</a></li>

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="active">
             <a>{{ page }}<span class="sr-only">(current)</span></a>
          </li>
        {% elsif page == 1 %}
          <li><a href="/">{{ page }}</a></li>
        {% else %}
          <li>
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          </li>
        {% endif %}
      {% endfor %}

      <li><a href="/page{{ paginator.total_pages }}/">Last</a></li>

      {% if paginator.next_page %}
        <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
        </li>
      {% else %}
        <li class="next disabled"><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
</div><!-- end #home -->
